<div class="col-1 col-sm-2 col-md-3 d-flex flex-column sidebar rounded-3 py-4 px-3">
  <h2 class="mb-3 mx-auto">w<span>atchlists</span></h2>
  <div class="sidebar-content">
    <!--
    <form action="/" class="mb-2">
      <div class="input-group mb-3">
        <input type="text" class="form-control rounded-start-3 border" name="query" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary rounded-end-3" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </form>
    -->
    <ul data-controller="toggle-nav-items">
      <li class="my-2 p-2 rounded-3 <%= 'active' if current_page?(root_path) %>">
        <%= link_to root_path, class: "d-block w-100" do %>
          <i class="fa-solid fa-house me-1"></i><span>Home</span>
        <% end %>
      </li>
      <li class="my-2 p-2 rounded-3 <%= 'active' if current_page?(lists_path) %>">
        <%= link_to lists_path, class: "d-block w-100" do %>
          <i class="fa-solid fa-list-ul me-1"></i><span>Watchlists</span>
        <% end %>
      </li>
      <li class="my-2 p-2 rounded-3 <%= 'active' if current_page?(movies_path) %>">
        <%= link_to movies_path, class: "d-block w-100" do %>
          <i class="fa-solid fa-film me-1"></i><span>Movies</span>
        <% end %>
      </li>
    </ul>
    <%= link_to new_list_path, class: "btn btn-primary rounded-3 mt-2 text-white w-100" do %>
      <i class="fa-solid fa-plus"></i><span> Create Watchlist</span>
    <% end %>
    <hr>
    <h6><span>My Lists</span></h6>
    <h6><span>Saved Lists</span></h6>
  </div>

  <% if user_signed_in? && current_user.photo.attached? %>
    <div class="dropdown mt-auto">
      <div class="d-flex align-items-center border rounded-3 p-2" data-bs-toggle="dropdown" aria-expanded="false">
        <%= cl_image_tag current_user.photo.key, class: "avatar me-2" %>
        <p class="me-2 mb-0 sidebar-username"><strong><%= current_user.username %></strong></p>
        <i class="fa-solid fa-ellipsis ms-auto me-2"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-end">
        <%= link_to "Edit", edit_user_registration_path(current_user), class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    </div>
  <% elsif user_signed_in? && !current_user.photo.attached? %>
    <div class="dropdown mt-auto">
      <div class="d-flex align-items-center border rounded-3 p-2" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag "guest.png", class: "avatar me-2" %>
        <p class="me-2 mb-0 sidebar-username"><strong><%= current_user.username %></strong></p>
        <i class="fa-solid fa-ellipsis ms-auto me-2"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-end">
        <%= link_to "Edit", edit_user_registration_path(current_user), class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <div class="dropdown mt-auto">
      <div class="d-flex align-items-center border rounded-3 p-2" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag "guest.png", class: "avatar me-2" %>
        <p class="me-2 mb-0 sidebar-username"><strong>Guest</strong></p>
        <i class="fa-solid fa-ellipsis ms-auto me-2"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-end">
        <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
      </div>
    </div>
  <% end %>
</div>
